body {
    color: #999;
}

.playground {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
  }
  
.playground-item {
    width: 20%;
    height: 20vh;
    border: 1px solid black;
    position: relative;
    margin: 10px;
    background-color: #999;
  }
  
.playground-img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}